header{
    text-align: center;
    background-color: rgb(255, 255, 255); 
    padding: 15px;

}
body {
    background: rgb(228, 232, 233);
    border: 0;
    padding: 0; 
    margin: 0;
}
article {
    background: rgb(248, 247, 247);
    border-radius: 10px;
    padding: 20px; 
    margin: 10px;
}    

a{
    display: flex;
    justify-content: right;
}

footer > div {
    background: rgb(40, 108, 255);
    border: 3.5px solid black;
    border-radius: 10px;
    padding: 20px; 
    margin: 10px;
    text-align: center;
    color: white;

} 